<h2>詳細／tweet#show</h2>


<%# 投稿内容 %>
<h3>タイトル</h3>
<p><%= @tweet.title %></p>

<h3>ツイート</h3>
<p><%= @tweet.body %></p>


<%# ログインユーザーのみできる機能 %>
<% if user_signed_in? %>
  <%# 投稿したユーザーがログインユーザーと同じか調べる %>
  <% if @tweet.user == current_user %>
    <a href="/tweets/<%= @tweet.id %>/edit">edit</a>
    <%= link_to "delete", tweet_path(@tweet), method: :delete,
      data: { confirm: "本当に削除しますか？" } %>
  <% end %>

  <% if @tweet.favorited_by?(current_user) %>
    <p><span>いいね解除：</span><%=link_to @tweet.favorites.count, tweet_favorites_path(@tweet.id), method: :delete %></p>
  <% else %>
    <p><span>いいね登録：</span><%=link_to @tweet.favorites.count, tweet_favorites_path(@tweet.id), method: :post %></p>
  <% end %>

<% else %>
  <p><span>お気に入り数: </span><%= @tweet.favorites.count %></p>
<% end %>


<%# コメント投稿フォーム %>
<%= form_with(model: [@tweet, @new_comment], local: true) do |form|%>

  <%= form.text_area :content %>

  <%= form.submit "コメントする"%>

<% end %>


<%# コメント一覧 %>
<% @tweet.comments.each do |comment| %>
  <div>
  <%= comment.user.id %>
  <%= comment.user.name %>
  <%= comment.content %>
  </div>
<% end %>
