<!DOCTYPE html>
<html>
  <head>
    <title>Memo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# リセットCSS %>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">

    <%# 使用フォント %>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <%# NES-style CSS Framework %>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%# memo %>
    <%# 部分テンプレートの構文
    render partial: 'tweets/tweet', locals: { tweet: @tweet } %>

    <%# 共通header %>
    <%= render partial: 'layouts/header' %>

    <%# メッセージ部分 %>
    <%= render partial: 'layouts/flash' %>

    <%= yield %>

  </body>
</html>
